   /* Estilos do vídeo de fundo */
   .video-background {
    position: absolute; /* Posiciona o vídeo atrás do conteúdo */
    top: 0; /* Alinha no topo da tela */
    left: 0; /* Alinha à esquerda da tela */
    width: 100%; /* Faz o vídeo cobrir toda a largura da tela */
    height: 100%; /* Faz o vídeo cobrir toda a altura da tela */
    object-fit: cover; /* Garante que o vídeo cubra toda a tela sem distorção */
    z-index: -1; /* Coloca o vídeo atrás do conteúdo */
  }

  /* Container do conteúdo para garantir que o conteúdo fique acima do vídeo */
  .content {
    position: relative; /* Permite que o conteúdo sobreponha o vídeo */
    z-index: 1; /* Garante que o conteúdo fique acima do vídeo */
  }